@model Retail.Models.ViewModel.CustomModelBag;
@using Retail.Models;
@{
    ViewData["Title"] = "Products";
}
<h2>Product Details</h2>
<div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">

        <thead class="thead-dark">
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price(₹)</th>
                <th>Specifications</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Product.Count(); i++)
                {
                    <tr>
                        <td class="w-50">
                            <input type="hidden" asp-for="@Model.Product[i].ProductId" />
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    @Model.Product[i].ProductName
                                </label>
                            </div>
                        </td>
                        <td>@Model.Product[i].ProductCat.Name</td>
                        <td>@Model.Product[i].Rate</td>
                        <td class="text-center">

                            <form class="">
                                @{
                                    int Id = Model.Product[i].ProductId;
                                }
                                <input type="hidden" asp-for="@Id" />
                                <button type="button" style="background-color:black; border-color:black;" class="btn btn-primary rounded-circle" data-toggle="dropdown">
                                    <i class="fa fa-expand">View</i>
                                </button>
                                <div class="dropdown-menu">
                                    <table class="">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Specification</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var spec in Model.Product[i].Spec)
                                            {
                                                <tr>
                                                    <td><p>@spec.SpecName</p></td>
                                                    <td><p>@spec.SpecValue</p></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <a class="btn btn-success" style="background-color:black; color:white; border-color:black;" asp-action="AddToInventory" asp-route-id="@Id">Add to Inventory</a>
                            </form>

                        </td>
                    </tr>
                }
            }

        </tbody>

    </table>
    @if (ViewBag.InventoryStatus != null)
    {
        <div class="alert alert-danger mt-3">
            <h5>Product Already Exists</h5>
        </div>
    }
</div>


