@model Retail.Models.ViewModel.CustomModelBag;
@using Retail.Models;
@{
    ViewData["Title"] = "Edit Product";
}
<br />
<br />
<form method="post">

    <h3><b>Edit Product Details</b></h3>
    <div class="row">
        <div class="col-sm-6 mw-25 card">
            <div class="card-body">
                <input type="hidden" asp-for="@Model.NewProduct.ProductId" />
                <div class="form-group">
                    <label>Product Name</label>
                    <input class="form-control" asp-for="@Model.NewProduct.ProductName" />
                    <span asp-validation-for="@Model.NewProduct.ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Product Company</label>
                    <input class="form-control" asp-for="@Model.NewProduct.Company" />
                    <span asp-validation-for="@Model.NewProduct.Company" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="@Model.NewProduct.Cat_Id" />
                <div class="form-group">
                    <label>Category</label>
                    <select  class="form-control" asp-for="@Model.NewProduct.ProductCat.Name">
                        @foreach (var cat in ViewBag.Categories)
                        {
                            <option >@cat.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group  w-50">
                    <label>Price</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" type="number" asp-for="@Model.NewProduct.Rate" />
                    </div>
                    <span asp-validation-for="@Model.NewProduct.Rate" class="text-danger"></span>
                </div>
                <button class="btn btn-dark" type="submit" asp-action="UpdateProduct">Save Changes</button>

            </div>
        </div>
        <div class="col">
            <h5><b>Specification</b></h5>
            @for (int i = 0; i < Model.NewProduct.Spec.Count(); i++)
            {
                <span>Specification @(i + 1)</span>
                <div class="d-flex">
                    <input type="hidden" asp-for="@Model.NewProduct.Spec[i].Id" />
                    <input type="hidden" asp-for="@Model.NewProduct.Spec[i].ProdId" />
                    <input class="form-control m-1" asp-for="@Model.NewProduct.Spec[i].SpecName" placeholder="Spec name" />
                    <input class="form-control m-1" asp-for="@Model.NewProduct.Spec[i].SpecValue" placeholder="Spec value" />
                </div>
                <span asp-validation-for="@Model.NewProduct.Spec[i].SpecName" class="text-danger"></span>
                <span asp-validation-for="@Model.NewProduct.Spec[i].SpecValue" class="text-danger"></span>
            }
            <input type="submit" value="+" asp-action="UpdateProductSpec" class="btn btn-basic btn-block" />
        </div>
    </div>
</form>
